html,body, #__nuxt {
    height:100%;
    width:100%;
}

.app {
    background: #242532;
    color: #fff;
    font-family: 'Rubik', serif;
}

.header {
    width: 100%;
    height: 5rem;
    background: #121320;
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

svg {
    color:#fff;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
}

.backdrop {
    height: 50%;
    min-width: 100%;
    overflow: hidden;
}

.backdrop img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.backdrop div {
    background: linear-gradient(to bottom, #24253200, #242532)
}

.header-items {
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.game {
    height: calc(100% - 5rem);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
}

.boxx {
    background: #242532;
    max-width: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px #00000080);
}

.card-list {
    max-width: 400px;
    justify-content: space-evenly;
    height: fit-content;
    gap: 1.5em;
    padding: 1.5em
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 1rem;
    width: 7.25rem;
    height: 2.75rem;
}

.icon {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
}

.chosen {
    aspect-ratio: 460/690;
    width: 80%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(8px 8px 8px #00000064);
}